@model IEnumerable<Product>
<div class="container">
    <h1 class="text-center mt-5">Products</h1>
    <div class="table-responsive">
        <a class="btn btn-success" asp-action="Create">Create</a>
        <table class="table mt-2">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">IsDescription</th>
                    <th scope="col">Price</th>
                    <th scope="col">Unit</th>
                    <th scope="col">CategoryId</th>
                    <th scope="col">Images</th>
                    <th scope="col">Operations</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.Price</td>
                        <td>@item.Unit</td>
                        <td>@item.CategoryId</td>
                        <td>
                            <img style="height: 100px; width: 100px;" src="@item.ProductImages.FirstOrDefault(p => p.IsMain)?.Name" />
                        </td>
                        <td class="d-flex" style="gap:10px;">
                            <button class="btn btn-danger delete-product-btn" data-id="@item.Id">Delete</button>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-primary" asp-action="Detail" asp-route-id="@item.Id">Detail</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>